<div class="SessionContainer">
    <div class="divLogoSession">
        <img src="https://i.ibb.co/hd9vsgK/Logo-BK-Grande.png" alt="Logo-BK-Grande" class="logoGRD">
    </div>
    <h1>Acceso denegado - Solo usuarios</h1>
    <br>
    <br>
    <img style="width: 10vw; margin: 0em" src="https://i.ibb.co/7y1KTNc/acceso.png" alt="acceso">
    <br>
    <div style="width: 70vw">
        <p style="font-weight: bold; color: rgb(195, 0, 0)">
            La vista a la que intentas acceder es exclusiva para usuarios. Por favor, inicia sesión.</p>
        </p>
    </div>
    <p>¿No estás registrado? <a href="/register">Regístrate aquí</a></p>
    <p>¿Ya tienes una cuenta? <a href="/login">Ingresa aquí</a></p>
    <p>¿Olvidaste tu contraseña? <a href="/requestResetPassword">Restablece tu contraseña</a></p>
</div>