<div id="VistaDeCarga" style="display: block" ;>
    <div class="loader-container">
        <div class="item">
            <div class="divLogoChat">
                <img src="https://i.ibb.co/hd9vsgK/Logo-BK-Grande.png" alt="Logo-BK-Grande" border="0"
                    class="logoGRDChat" style="width: 50%; margin-bottom: 1em;">
            </div>
        </div>
        <div class="item">
            <img src="https://i.ibb.co/Ytn1ggx/Pantalla-de-carga.png" alt="Pantalla-de-carga" border="0"
                style="width: 50%;">
        </div>
        <div class="item" style="margin-top: 1em;">
            <div class="loader"></div>
        </div>
        <div class="item" style="margin-top: 1em;">
            <h1 style="font-size: 1.1em">Cargando... Por favor, espera.</h1>
        </div>
    </div>
</div>
<div id="contenedorVista" style=" display: none">
    <div class="container">
        <a href="/cart"><img src="https://i.ibb.co/mHPj0kW/Logo-volver-removebg-preview.png" alt="volver" border="0"
                class="logoS" style="position: absolute; margin-top: 2em;"></a>
        <div class="divLogoChat">
            <img src="https://i.ibb.co/hd9vsgK/Logo-BK-Grande.png" alt="Logo-BK-Grande" border="0" class="logoGRDChat" style="width: 35% !important;">
        </div>
        <div>
        </div>
        <h1>Pago exitoso</h1>
        <div style="display: flex; justify-content: center; align-items: center; margin-top: 0.5em">
            <img style="width: 25vw; margin-top: 1em;" src="https://i.ibb.co/2WXT4YZ/pago-exitoso.png" alt="Pago-check-1" border="0">
        </div>
        <div id="parrafo"></div>
        <p><a href="/tickets">Ver tus tickets</a></p>
    </div>
</div>
<script src="/js/pay.js"></script>