<div class="SessionContainer">
    <div class="divLogoSession">
        <img src="https://i.ibb.co/hd9vsgK/Logo-BK-Grande.png" alt="Logo-BK-Grande" border="0" class="logoGRD">
    </div>
    <h1>Restablecer contrase침a - Solicitar correo</h1>
    <form id="resetPassForm1" class="styleFormSession">
        <p>Ingrese su direcci칩n de correo electr칩nico y le enviaremos instrucciones para restablecer su contrase침a. </p>
        <br />
        <div
            style="display: flex; flex-direction: row; gap: 0.5em; width: 100%; align-items: center; justify-content: center;">
            <span class="material-symbols-outlined" style="position: absolute; margin-left: -16em;">
                alternate_email
            </span>
            <input type="email" placeholder="Correo" name="email" required>
        </div>
        <br />
        <input class="boton" type="submit">
        <br />
        <p style="font-weight: bold;">IMPORTANTE: Recuerda revisar tu bandeja de spam en caso de no ver el correo en la
            vista principal.</p>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/requestResetPass.js"></script>